footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
  text-align: left;
  color: #FFF;
  background-color: #666;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer h5 {
  color: #73c04d;
  font-size: 1.5rem;
  font-weight: 700;
}

footer .footer img {
  height: auto;
  width: 220px;
}

footer .footer .columns > div > div > h2,
footer .footer .columns > div > div > h3,
footer .footer .columns > div > div > h4,
footer .footer .columns > div > div > h5 {
  all: unset;
  color: #73c04d;
  font-size: 1.5rem;
  font-weight: 700;
}